<div class="jumbotron">

  <div class="page-header">
    <h1>Link Shortener</h1>
  </div>

  <p>Welcome to our URL Shortening Service!</p>

  <%= render "links/form" %>


  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <p>Here's your short link!: <a href="<%= root_path + flash[:notice] %>"><%= root_url %><%= flash[:notice] %></a></p>
    </div>
  <% end %>

  <% if flash[:error] %>
    <p>Error: <%= flash[:error] %></p>
  <% end %>

</div>



